    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
          var data = google.visualization.arrayToDataTable([
              ['Tema', 'Quizes por tema'],
              <% for (i in datos.qtemas){%>
          <%=i>0?',':''%>["<%=datos.qtemas[i].tema.charAt(0).toUpperCase() + datos.qtemas[i].tema.slice(1)%>", <%=datos.qtemas[i].dataValues.preguntas%>]
          <% } %>
        ]);

        var options = {
          title: 'Preguntas por temas',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            <p><strong>Estadísticas</strong></p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 center"><b>Preguntas</b>: <%=datos.preguntas%></div>
                <div class="col-md-4 center"><b>Comentarios</b>: <%=datos.comentarios%></div>
                <div class="col-md-4 center"><b>Media</b> (comentarios/pregunta): <%= datos.comentarios / datos.preguntas %></div>
            </div>
        </div>
        <div id="chart" style="display: block;  margin-left: auto;  margin-right: auto; width: 60%; height: 200px;"></div>
    </div>
</div>