<form method="get" action="/quizes">
    <label for="search">
        Filtrar preguntas por:
        <input id="search" name="search" type="text" placeholder="Texto a buscar" />
        <input type="submit" value="Filtrar" />
    </label>
</form>
<div class="tables">
    <table>
            <tr>
                <td>Tema</td>
                <td>Pregunta</td>
                <td colspan="2">Acciones</td>
            </tr>
            <% var i; for (i=0; i
            <quizes.length; i++) { %>
                <tr>
                    <td><%= quizes[i].tema.charAt(0).toUpperCase() + quizes[i].tema.slice(1) %></td>
                    <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
                    <% if (session.user){%>
                    <td><a href="quizes/<%= quizes[i].id %>/edit">Editar</a></td>
                    <td>
                        <form id="<%='frmDel' + i%>" method="post" action="/quizes/<%=quizes[i].id%>?_method=delete">
                            <a href="javascript:{}" onclick="if (confirm('¿Seguro que desea borrar esta pregunta?')) document.getElementById('<%='frmDel' + i%>').submit()">Eliminar</a>
                        </form>
                    </td>
                    <%}%>
                </tr>
                <% } %>
    </table>
</div>

<% if (session.user){%>
<div>
    <a href="/quizes/new">Añadir nueva pregunta</a>
</div>
<% } %>
