<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<span><em><%= quiz.pregunta %></em></span>
	<label for="question">Respuesta:
		<input id="question" name="respuesta" type="text" placeholder="Responda aquí" />
		<input type="submit" value="Enviar" />
	</label>
</form>

<p><strong>Comentarios:</strong></p>
<% for(i in quiz.Comentarios) {%>
  <% if (quiz.Comentarios[i].publicar || session.user) {%>
        <p>
            - <%= quiz.Comentarios[i].texto%>
            <% if (session.user) {%>
              <% if (session.user.tipo === 0) {%>
                <a href="/quizes/<%=quiz.id%>/comentarios/<%=quiz.Comentarios[i].id%>/publicar"><%=quiz.Comentarios[i].publicar?'No publicar':'Publicar'%></a>
              <%}%>
            <%}%>
        </p>
  <%}%>
<%}%>

<% if (session.user) {%>
    <p><a href="/quizes/<%=quiz.id%>/comentarios/new">Nuevo comentario</a></p>
<%}%>
